.table {
  width: 100%;
  height: 50%;
  padding: 10px;

  overflow: auto;

  .placeholder {
    background: white;
    height: 100%;
    font-size: 50px;
    text-align: center;
  }

  .main {
    font-size: 14px;
    width: 100%;

    .head {
      .row {
        .item {
          padding: 5px;
          border: 2px solid black;
        }
      }
    }

    .body {
      .row {
        cursor: pointer;

        &:hover {
          background: greenyellow;
        }

        .item {
          padding: 5px;
          border: 2px solid black;
        }
      }
    }
  }
}