.controls {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 10px black;
  z-index: 2;
  gap: 10px;
  width: 300px;

  display: flex;
  flex-direction: column;
}