.switcher {
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 10px;
  box-shadow: 1px 1px 5px black;

  .item {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
  }
}