.overlay {
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  height: 150px;
}